.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #01d28e;
    color: white;
    margin-top: 5px;
    border: none;
}

.cardIcon {
    color: white;
    font-size: 2.1rem;
}

.counter{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

p {
    margin-bottom: 0px !important;
}